{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-md-8">
        {% for field in form %}
            {{ field.label }}-{{ field.value }}
        {% endfor %}
    </div>
        <div class="col-md-8">
            <div class="card bg-light">
                <div class="card-body">
                    {% crispy updated_form %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
